html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(18, 18, 18, 0.93);
	color: #f5f5f5;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	/* background-color: #f5f5f5; */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.note {
	padding-top: 20px;
}

.form-control {
	background-color: transparent;
	color: #f5f5f5;
}

.form-control:focus {
	background-color: transparent;
	color: lightcoral;
}